* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}

:root {
    --color-purple-100: hsl(254, 88%, 90%);
    --color-purple-500: hsl(256, 67%, 59%);
    --color-yellow-100: hsl(31, 66%, 93%);
    --color-yellow-500: hsl(39, 100%, 71%);
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 7%);
}

@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/static/DMSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    src: url("assets/fonts/static/DMSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "DM Sans";
    font-style: italic;
    font-weight: 500;
    src: url("assets/fonts/static/DMSans-MediumItalic.ttf") format("truetype");
}

body {
    background-color: #f4f4f4;
}

.container {
    padding: 2em 1em;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    display: grid;
    grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight";
    gap: 2em;
}

.container h2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    line-height: 1;
    font-size: 1.5rem;
}

.card {
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.card img {
    display: block;
    max-width: 100%;
}

.card .yellow {
    color: var(--color-yellow-500);
}

.card .purple {
    color: var(--color-purple-500);
}

.card:nth-child(1) {
    grid-area: one;
    background-color: var(--color-purple-500);
    color: var(--color-purple-100);
    text-align: center;
    padding: 2em 1.5em;
}

.card:nth-child(1) > h2 {
    font-size: 2.5rem;
    color: var(--color-white);
}

.card:nth-child(1) img {
    max-height: 2em;
}

.card:nth-child(2) {
    grid-area: two;
    padding: 1em;
    background-color: var(--color-white);
}

.card:nth-child(3) {
    grid-area: three;
    background-color: var(--color-yellow-500);
    padding: 1em;
    padding-block-end: unset;
    align-items: flex-start;
}

.card:nth-child(3) img {
    max-height: 10em;
}

.card:nth-child(4) {
    grid-area: four;
    background-color: var(--color-purple-100);
    padding: 2em 1em;
    text-align: center;
}

.card:nth-child(5) {
    grid-area: five;
    background-color: var(--color-purple-500);
    text-align: center;
    padding: 1.5em 2.5em;
    color: var(--color-white);
}

.card:nth-child(6) {
    grid-area: six;
    background-color: var(--color-white);
    padding: 1.5em;
    align-items: flex-start;
}

.card:nth-child(6) > h2 {
    font-size: 2.5rem;
}
.card:nth-child(6) img {
    max-height: 5em;
}

.card:nth-child(7) {
    grid-area: seven;
    background-color: var(--color-yellow-100);
    padding: 1.5em;
    align-items: flex-start;
}

.card:nth-child(7) img {
    max-height: 5em;
}

.card:nth-child(8) {
    grid-area: eight;
    background-color: var(--color-yellow-500);
    padding: 1.5em;
    align-items: flex-start;
}

.card:nth-child(8) img {
    max-height: 14em;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 768px) {
    .container {
        grid-template-areas:
            "seven one one four"
            "eight two three four"
            "eight six five five";
    }
}
